@model ASP.NET_WebApi_Reagentes.Models.Usuario

@{
    ViewBag.Title = "Home";
}

<h2>Seja Bem-Vindo</h2>

<div class="form-group">
    @Html.ActionLink("Usuarios", "Usuarios", "Login", new { @class = "btn btn-primary"})
    @Html.ActionLink("Reagentes", "Reagentes", "Login", new { @class = "btn btn-primary"})
    @Html.ActionLink("Emprestimos", "", "", new { @class = "btn btn-primary"})
</div>

